{% extends "base.html" %}

{% block content %}
<head>
	<link rel="stylesheet" href="../static/css/example_css.css">
</head>
<h1 style="text-align: center">{{ title }}</h1>
<div class="btns1">
    {% if current_user.is_authenticated %}
	    <a href="/add_post"><button class="btn btn-success rounded-pill px-3" type="button">Добавить<br>пост</button></a>
    {% endif %}
	<a href="/search"><button class="btn btn-dark rounded-pill px-3" type="button" style="width: 100px; height: 60px">Поиск</button></a>
</div>
{% for post in posts %}
    <div class="container">
        <div class="post">
            <div class="post-content">
                <div class="post-header">
                    <h1>{{ post.post_name }}</h1>
                    <div class="post-meta">
                        <time>{{ post.create_date }}(ГГГГ-ММ-ДД)</time>
                        <span class="author">{{ post.creator_name }} {{ post.creator_surname }}</span>
                        {% if post.is_blog %}
                            <span class="category">Блог</span>
                        {% endif %}
                        {% if post.is_training %}
                            <span class="category">Тренировка</span>
                        {% endif %}
                        {% if post.is_recipe %}
                            <span class="category">Питание</span>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
            <div class="btns">
                <a href="/post_review/{{ post.id }}"><button type="button" class="btn btn-info">Читать дальше</button></a>
                {% if current_user.is_authenticated and (post.creator_id == current_user.id or current_user.role == "admin") %}
                    <a href="/edit_post/{{ post.id }}" class="btn btn-warning" style="margin-left: 36px;">Изменить</a>
                    <a href="/post_delete/{{ post.id }}" class="btn btn-danger" style="margin-left: 36px;">Удалить пост</a>
                {% endif %}
            </div>
    </div>
{% endfor %}

{% endblock %}